{% load static %}
{% load focus_extra %}
{% for article in articles %}
    <div class="media hidden-xs">
        <div class="media-left media-heading">
            <a href="{{ article.article_link }}">
                <img class="media-object" src="{{ article.picture_link }}">
            </a>
        </div>
        <div class="media-body">
            <h4 class="article_title"><a href="{{ article.article_link }}">{{ article.article_title }}</a></h4>
            <div class="article_desc"><a href="{{ article.article_link }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ article.article_desc | format_desc}}</a>
            </div>
            <div class="article_info">
                <a class="article_date">{{ article.article_date | strftime }}</a>
                <a class="static_from">From:</a>
                <a class="article_source" href="{{ article.article_link }}">{{ article.article_source }}</a>
                <div class="collect_article" onclick="collectArticle({{ article.id }})">收藏
                    <svg class="collect_star" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 51 48">
                        {% if article.id in collections_article_id %}
                        <path id=l{{ article.id }} valid=1 fill="yellow" stroke="grey" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                        {% else %}
                        <path id=l{{ article.id }} valid=0 fill="grey" stroke="grey" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                        {% endif %}
                    </svg>
                </div>

            </div>
        </div>
    </div>

    <div class="media visible-xs">
        <div class="media-left media-heading">
            <a href="{{ article.article_link }}">
                <img class="media-object" src="{{ article.picture_link }}">
            </a>
        </div>
        <div class="media-body">
            <h4 class="article_title"><a
                    href="{{ article.article_link }}">{{ article.article_title | format_title }}</a></h4>
            <div class="article_info">
                <a class="article_date">{{ article.article_date | short_strftime }}</a>
                <a class="article_source" href="{{ article.article_link }}">{{ article.article_source }}</a>
                <svg class="collect_article" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 48" onclick="collectArticle({{ article.id }})">
                    {% if article.id in collections_article_id %}
                        <path id=s{{ article.id }} valid=1 fill="yellow" stroke="grey" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                        {% else %}
                        <path id=s{{ article.id }} valid=0 fill="grey" stroke="grey" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                        {% endif %}
                </svg>
            </div>
        </div>
    </div>
{% endfor %}