{% if category == "news" or not category %}
    <li class="active"><a href="{% url 'news_page' '1' %}"> 资讯 </a></li>
{% else %}
    <li class="not-active"><a href="{% url 'news_page' '1' %}"> 资讯 </a></li>
{% endif %}
<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 技术 <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% if sub_category == "python"%}
        <li class="active"><a href="{% url 'dev_python_page' '1' %}"> 后端（Python） </a></li>
        {% else %}
        <li class="not-active"><a href="{% url 'dev_python_page' '1' %}"> 后端（Python） </a></li>
        {% endif %}

        {% if sub_category == "web"%}
        <li class="active"><a href="{% url 'dev_web_page' '1' %}"> 前端（Web） </a></li>
        {% else %}
        <li class="not-active"><a href="{% url 'dev_web_page' '1' %}"> 前端（Web） </a></li>
        {% endif %}

        {% if sub_category == "android"%}
        <li class="active"><a href="{% url 'dev_android_page' '1' %}"> 移动（Android） </a></li>
        {% else %}
        <li class="not-active"><a href="{% url 'dev_android_page' '1' %}"> 移动（Android） </a></li>
        {% endif %}

        {% if sub_category == "linux"%}
        <li class="active"><a href="{% url 'dev_linux_page' '1' %}"> 运维（Linux） </a></li>
        {% else %}
        <li class="not-active"><a href="{% url 'dev_linux_page' '1' %}"> 运维（Linux） </a></li>
        {% endif %}

        {% if sub_category == "db"%}
        <li class="active"><a href="{% url 'dev_db_page' '1' %}"> 数据库 </a></li>
        {% else %}
        <li class="not-active"><a href="{% url 'dev_db_page' '1' %}"> 数据库 </a></li>
        {% endif %}
    </ul>
</li>

{% if category == "products" %}
    <li class="active"><a href="{% url 'products_page' '1' %}"> 产品 </a></li>
{% else %}
    <li class="not-active"><a href="{% url 'products_page' '1' %}"> 产品 </a></li>
{% endif %}

{% if category == "design" %}
    <li class="active"><a href="{% url 'design_page' '1' %}"> 设计 </a></li>
{% else %}
    <li class="not-active"><a href="{% url 'design_page' '1' %}"> 设计 </a></li>
{% endif %}

{% if category == "marketing" %}
    <li class="active"><a href="{% url 'marketing_page' '1' %}"> 营销 </a></li>
{% else %}
    <li class="not-active"><a href="{% url 'marketing_page' '1' %}"> 营销 </a></li>
{% endif %}