<!doctype html>
<html lang="zh-CN">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Focus</title>
    <link href="{% static 'focus/css/bootstrap-theme.min.css'%}" rel="stylesheet">
    <link href="{% static 'focus/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'focus/css/index.css'%}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'focus/img/favicon.ico' %}"/>
</head>
<body>
{% include 'focus/top_bar.html' %}
<div class="content_area container">
{% include 'focus/article_list.html' %}
{% include 'focus/page_area.html' %}
</div>

<script src="{% static 'focus/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'focus/js/index.js' %}"></script>
<script src="{% static 'focus/js/bootstrap.min.js' %}"></script>
</body>
</html>