{% if request.user.is_authenticated %}
    <div class="dropdown" id="dropdownMenu02"
         aria-hidden="true" aria-expanded="true">
        <p class="glyphicon glyphicon-user"></p>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.user.username }}
            <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu02">
            <li>
                <a href="#">我的收藏</a></li>
            <li>
                <a href="{% url 'logout' %}" onclick='doLogout()'>登出</a></li>
        </ul>
    </div>
{% else %}
    <div class="glyphicon glyphicon-log-in"
         aria-hidden="true"><a href="{% url 'login_page' %}">登录</a>
    </div>
{% endif %}