<style>
    body {
        padding-top: 50px;
    }

    .navbar-template {
        padding: 40px 15px;
    }
</style>
{% load static %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="visible-xs" href="{% url 'index' %}"><span class="glyphicon glyphicon-home"
                                                                 aria-hidden="true"></span></a>
            <a class="navbar-brand hidden-xs" href="{% url 'index' %}"><img height="50px"
                                                                            src="{% static 'focus/img/focus.cn.png' %}"></a>
            <div class="visible-xs" id="user">
            {% include 'focus/login_collection_module.html' %}
            </div>
        </div>

        <div id="added-blank" class="hidden-xs"><a>&nbsp;</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% include 'focus/catalog_list.html' %}
            </ul>
            <div class="hidden-xs" id="user">
            {% include 'focus/login_collection_module.html' %}
            </div>
        </div><!--/.nav-collapse -->

    </div>
</div>