.top_bar {
    min-height: 40px;
    /*
   background: #30bed6; /* Old browsers */
    background: -moz-linear-gradient(left, #30bed6 0%, #38cac9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #30bed6 0%, #38cac9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #30bed6 0%, #38cac9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30bed6', endColorstr='#38cac9', GradientType=1); /* IE6-9 */
}

.social {
    list-style-type: none;
    margin-bottom: 0px;
    float: left;
    padding: 0px;
    margin-left: 0px;
}

.social li {
    float: left;
}

.social li a {
    padding: 0 10px;
    font-size: 13px;
    line-height: 40px;
    color: #FFF;
}

.rightc {
    list-style-type: none;
    margin-bottom: 0px;
    float: right;
}

.rightc li {
    margin: 0px 10px;
    font-size: 13px;
    float: left;
    line-height: 40px;
    color: #FFF;
}

.rightc li a {
    color: #FFF;
}

.container{
    width: 90%;
    margin-left: 4%;
    margin-right: 0px;
}

.navbar-brand img {
    margin-top: 0px;
    margin-left: 0px;
}

.navbar-brand {
    padding: 0px;
}

.glyphicon-home {
    float: left;
    padding: 6px 14px;
    margin-top: 10px;
    margin-right: 1px;
    margin-left: 6px;
    margin-bottom: 10px;
    background-color: transparent;
}

#bs-example-navbar-collapse-1 {
    float: left;
    margin-left: 6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-header {
    margin-right: 10%;
}

.navbar-header button {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.glyphicon.glyphicon-home{
    font-size: large;
    /*font-weight: 800;*/
    margin: 8px auto;
}

.navbar-header .navbar-brand.hidden-xs {
    position: relative;
    margin-left: 0px;
}

#added-blank{
    display: inline;
    position: relative;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 4%;
    visibility:hidden;
}

.nav.navbar-nav li a{
    margin-right: 20px;
    font-size: larger;
    font-weight: 700;
}

.navbar-form[role='search']{
    position: relative;
    displsy: inline;
    float: left;
    padding-right: 0;
    margin-right: 0px;
    width: 200px;
}

a#active-tech{
    background-color: rgb(231, 231, 231);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

#user {
    position: relative;
    display: inline;
    float: right;
    padding: 6px 0px;
    margin-top: 8px;
    background-color: transparent;
}

#user .dropdown-toggle, .glyphicon .glyphicon-log-in {
    margin-right: 1px;
}

#user .dropdown-toggle, .glyphicon >a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #1b6977 !important;
    margin-left: 2px;
    text-decoration: none;
}

#user.hidden-xs .dropdown-menu {
    position: absolute;
    margin-top: 0px;
    padding-right: 0px;
    margin-right: 0px;
    border-right: 0px;
}

#user.visible-xs .dropdown-menu {
    position: absolute;
    margin-top: 8%;
    left: -56%;
}

#user .dropdown-menu a{
    font-size: larger;
    font-weight: 600;
}
@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
        transform: rotate(-90deg);
    }
}


.media.hidden-xs{
    position: relative;
    width: 70%;
    height: 10%;
    margin: 2% auto;
}

.media.hidden-xs .media-left.media-heading img{
    width: 200px;
    height: 150px;
}

.media.hidden-xs .media-body{
    width: 72%;
    height: 100%;
}


.media.hidden-xs .media-body .article_title{
    margin-top: 0.2%;
}

.media.hidden-xs .media-body .article_title a{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
}

.media.hidden-xs .media-body .article_desc a{
    text-decoration: none;
    color: #333333;
    font-size: 15px;
}
.media.hidden-xs .media-body .article_info{
    display: inline;
    position: absolute;
    bottom: 0.2%;
}

.media.hidden-xs .media-body .article_info .article_date{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}

.media.hidden-xs .media-body .article_info .static_from{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    margin-left: 20%;
}

.media.hidden-xs .media-body .article_info .article_source{
    text-decoration: none;
    color: #2e6da4;
    font-weight: 600;
}

.media.hidden-xs .collect_article{
    margin-left: 20%;
    display: inline;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: grey;
    cursor: default;
}


.media.hidden-xs .collect_star{
    position: relative;
    display: inline;
    width: 3.5%;
    height: 3.5%;
    margin-right: 0%;
    margin-bottom: -0.7%;
}

.media.visible-xs{
    position: relative;
    margin: 0.2% auto;
}

.media.visible-xs .media-left.media-heading img{
    width: 100px;
    height: 80px;
    margin: 10px auto;
}

.media.visible-xs .media-body .article_title a{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}

.media.visible-xs .media-body .article_info{
    position: absolute;
    display: inline;
    bottom: 8%;
}

.media.visible-xs .media-body .article_info .article_date{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}

.media.visible-xs .media-body .article_info .article_source{
    text-decoration: none;
    display: inline;
    font-weight: 500;
    margin-left: 20%;
}


.media.visible-xs .media-body .article_info .collect_article{
    display: inline;
    position: relative;
    max-width: 200px;
    float: right;
    margin-left: 20%;
    margin-right: 5%;
    width: 9%;
    height: 8%;
}

.content_area .page_area {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.content_area .page_area a {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #666666;
    border: 1px solid #DDDDDD;
}

.content_area .page_area a.page_num {
    width: 50px;
    color: #5bc0de;
}

.content_area .page_area a:hover {
    background-color: #5bc0de;
    color: #FFFFFF;
}
